<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <!-- Pedir permiso a systema para vibracion -->
    <uses-feature
        android:name="android.hardware.telephony"
        android:required="false" />

    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ASPracticas"
        tools:targetApi="31">
        <activity
            android:name=".ut06.ejemplos.navidad.DulceNavidadDetalle"
            android:exported="false" />
        <activity
            android:name=".ut06.ejemplos.navidad.u6e_navidad_Lista"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ut06.ejemplos.partidos.PartidoAdapter"
            android:exported="false" />
        <activity
            android:name=".ut06.ejemplos.partidos.Lista"
            android:exported="true" />
        <activity
            android:name=".ut05.ejemplos.EjemploPermiso"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ejemplos.DateP"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ejemplos.Chronometro"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ut04.ejemplo_v1.ContadorPasajeros"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ut04.ejemplo.ComunicacionEntreFragment"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ut04.u4e1.EnviarDatosAFragment"
            android:exported="true" />
        <activity
            android:name=".ut03.u3e9.IntentImplicitos"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ut04.u4e1.ContadorConFragment"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ut04.ejemplo.EjemploFragments"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ut03.u3e8.DibujarMonstruo"
            android:exported="false" />
        <activity
            android:name=".ut03.u3e8.CrearMonstruo"
            android:exported="true" />
        <!--
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        -->
        <activity
            android:name=".ut03.u3e7.PerfilArmas"
            android:exported="false" />
        <activity
            android:name=".ut03.u3e7.PerfilPersonajes"
            android:exported="false" />
        <activity
            android:name=".ut03.u3e7.SelectorPersonajes"
            android:exported="true" />
        <!--
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        -->
        <activity
            android:name=".ut03.u3e6.AnalizadorLetras"
            android:exported="false" />
        <activity
            android:name=".ut03.u3e6.AnalizarLetrasTexto"
            android:exported="false" />
        <activity
            android:name=".ut03.u3e5.SiguienteNumero"
            android:exported="false" />
        <activity
            android:name=".ut03.u3e5.Fibonacci"
            android:exported="true" />
        <!--
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        -->
        <activity
            android:name=".ut03.u3e4.MostrarNombre"
            android:exported="false" />
        <activity
            android:name=".ut03.u3e4.PedirNombre"
            android:exported="false" />
        <activity
            android:name=".ut03.u3e3.Heladotron"
            android:exported="false" />
        <activity
            android:name=".ut03.u3e3.MostrarHelado"
            android:exported="false" />
        <activity
            android:name=".ut03.u3e2.VisualizadorResultado"
            android:exported="false" />
        <activity
            android:name=".ut03.u3e2.Calculator_With_Two_Activity"
            android:exported="false" />
        <activity
            android:name=".ut03.u3e1.u3a1_Lanzada"
            android:exported="false" />
        <activity
            android:name=".ut03.u3e1.u3a1_Lanza"
            android:exported="true" />
        <activity
            android:name=".ut02.u2e6.JuegoPierdraPapelTijera"
            android:exported="true" />
        <!--
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        -->
        <activity
            android:name=".ut02.u2e5.PedirCita"
            android:exported="true" />
        <!--
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        -->
        <activity
            android:name=".ut02.u2e3.Propinatron2000"
            android:exported="true" />
        <!--
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        -->
        <activity
            android:name=".ut02.u2e2.u2a2Coloneitor"
            android:exported="true" />
        <activity
            android:name=".AdivinarNumero"
            android:exported="true" />
        <activity
            android:name=".HolaMundo"
            android:exported="true" />
        <activity
            android:name=".ut04.ejemplo.ut04a1_Holamundo"
            android:exported="true" />
    </application>

</manifest>